<div class="max-w-screen-md mx-auto bg-gray-100 p-6 sm:p-4 rounded-lg">

  <!-- ヘッダー部分：使い方とハンバーガーメニュー -->
  <div class="flex justify-between items-center px-4 py-2 sm:px-2 sm:py-1 bg-gray-200">
    <h1 class="text-lg sm:text-base font-bold mx-auto">
      アプリの使い方
    </h1>
  </div>

  <!-- 本文 -->
  <div class="mt-4 space-y-6">

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎アカウント作成</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">メールアドレスとパスワード登録でアカウントを作成</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎ログイン or LINEでログイン</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">メールアドレスとパスワード又は、LINEアカウントを使用しでログインできます</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎ルームを作成 or 参加</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">旅行ごとにルームを作成し、参加することでデータを共有できます</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎スケジュールを登録</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">日付ごとに予定を登録でき、ショーやパレードのスケジュールも管理できます</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎お気に入り登録</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">ディズニーで食べたいフードや買いたいグッズを画像付きで記録できます</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎精算管理</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">支払い内容や金額を記録し、グループ旅行後の割り勘に活用できます</p>
    </div>

    <div class="bg-white shadow-md rounded p-4">
      <h2 class="text-md sm:text-sm font-bold mb-2">⚫︎コーデ記録</h2>
      <p class="text-sm sm:text-xs text-gray-700 mb-2">「耳・服・バッグ・靴」などのコーディネートを記録・共有できます</p>
    </div>

    <div class="text-center mt-4">
      <%= link_to 'ログインはこちら', login_path, class: "text-blue-500 hover:text-blue-700 font-bold" %>
    </div>

  </div>
</div>
